@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Nunito", sans-serif;
}
.paginate{
    display: flex;
    align-items: center;
    justify-content: end;
}
.paginate li{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    border: 1px solid;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}